In [3]:
import pandas as pd
df1 = pd.read_csv("C:/Users/Visha/OneDrive/Desktop/SING/DATA/Resale Flat Prices (Based on Approval Date), 1990 - 1999.csv")
df2 = pd.read_csv("C:/Users/Visha/OneDrive/Desktop/SING/DATA/Resale Flat Prices (Based on Approval Date), 2000 - Feb 2012.csv")
df3 = pd.read_csv("C:/Users/Visha/OneDrive/Desktop/SING/DATA/Resale Flat Prices (Based on Registration Date), From Jan 2015 to Dec 2016.csv")
df4 = pd.read_csv("C:/Users/Visha/OneDrive/Desktop/SING/DATA/Resale Flat Prices (Based on Registration Date), From Mar 2012 to Dec 2014.csv")
df5 = pd.read_csv("C:/Users/Visha/OneDrive/Desktop/SING/DATA/Resale flat prices based on registration date from Jan-2017 onwards.csv")
df = pd.concat([df1, df2, df3, df4, df5], ignore_index=True)
print(df.head())

     month        town flat_type block       street_name storey_range  \
0  1990-01  ANG MO KIO    1 ROOM   309  ANG MO KIO AVE 1     10 TO 12
1  1990-01  ANG MO KIO    1 ROOM   309  ANG MO KIO AVE 1     04 TO 06
2  1990-01  ANG MO KIO    1 ROOM   309  ANG MO KIO AVE 1     10 TO 12
3  1990-01  ANG MO KIO    1 ROOM   309  ANG MO KIO AVE 1     07 TO 09
4  1990-01  ANG MO KIO    3 ROOM   216  ANG MO KIO AVE 1     04 TO 06

   floor_area_sqm      flat_model  lease_commence_date  resale_price  \
0            31.0        IMPROVED                 1977        9000.0
1            31.0        IMPROVED                 1977        6000.0
2            31.0        IMPROVED                 1977        8000.0
3            31.0        IMPROVED                 1977        6000.0
4            73.0  NEW GENERATION                 1976       47200.0

  remaining_lease
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN

In [5]:
# Drop rows with NaN values
df = df.dropna()

# Display the first few rows to verify
print(df.head())

          month        town flat_type block        street_name storey_range  \
656847  2015-01  ANG MO KIO    3 ROOM   174   ANG MO KIO AVE 4     07 TO 09
656848  2015-01  ANG MO KIO    3 ROOM   541  ANG MO KIO AVE 10     01 TO 03
656849  2015-01  ANG MO KIO    3 ROOM   163   ANG MO KIO AVE 4     01 TO 03
656850  2015-01  ANG MO KIO    3 ROOM   446  ANG MO KIO AVE 10     01 TO 03
656851  2015-01  ANG MO KIO    3 ROOM   557  ANG MO KIO AVE 10     07 TO 09

        floor_area_sqm      flat_model  lease_commence_date  resale_price  \
656847            60.0        Improved                 1986      255000.0
656848            68.0  New Generation                 1981      275000.0
656849            69.0  New Generation                 1980      285000.0
656850            68.0  New Generation                 1979      290000.0
656851            68.0  New Generation                 1980      290000.0

       remaining_lease
656847              70
656848              65
656849              64
656850              63
656851              64

In [7]:
df = pd.get_dummies(df, columns=["town", "flat_type", "storey_range", "flat_model"])
print(df.head())

          month block        street_name  floor_area_sqm  lease_commence_date  \
656847  2015-01   174   ANG MO KIO AVE 4            60.0                 1986
656848  2015-01   541  ANG MO KIO AVE 10            68.0                 1981
656849  2015-01   163   ANG MO KIO AVE 4            69.0                 1980
656850  2015-01   446  ANG MO KIO AVE 10            68.0                 1979
656851  2015-01   557  ANG MO KIO AVE 10            68.0                 1980

        resale_price remaining_lease  town_ANG MO KIO  town_BEDOK  \
656847      255000.0              70             True       False
656848      275000.0              65             True       False
656849      285000.0              64             True       False
656850      290000.0              63             True       False
656851      290000.0              64             True       False

        town_BISHAN  ...  flat_model_Multi Generation  \
656847        False  ...                        False
656848        False  ...                        False
656849        False  ...                        False
656850        False  ...                        False
656851        False  ...                        False

        flat_model_New Generation  flat_model_Premium Apartment  \
656847                      False                         False
656848                       True                         False
656849                       True                         False
656850                       True                         False
656851                       True                         False

        flat_model_Premium Apartment Loft  flat_model_Premium Maisonette  \
656847                              False                          False
656848                              False                          False
656849                              False                          False
656850                              False                          False
656851                              False                          False

        flat_model_Simplified  flat_model_Standard  flat_model_Terrace  \
656847                  False                False               False
656848                  False                False               False
656849                  False                False               False
656850                  False                False               False
656851                  False                False               False

        flat_model_Type S1  flat_model_Type S2
656847               False               False
656848               False               False
656849               False               False
656850               False               False
656851               False               False

[5 rows x 78 columns]

# Feature Engineering

In [10]:
df['flat_age'] = 2024 - df['lease_commence_date']
print(df[['lease_commence_date', 'flat_age']].head())

        lease_commence_date  flat_age
656847                 1986        38
656848                 1981        43
656849                 1980        44
656850                 1979        45
656851                 1980        44

# Convert Dates to Numeric

In [13]:
df['month'] = pd.to_datetime(df['month'], format='%Y-%m')
df['year'] = df['month'].dt.year
df = df.drop(columns=['month'])
print(df.head())

       block        street_name  floor_area_sqm  lease_commence_date  \
656847   174   ANG MO KIO AVE 4            60.0                 1986
656848   541  ANG MO KIO AVE 10            68.0                 1981
656849   163   ANG MO KIO AVE 4            69.0                 1980
656850   446  ANG MO KIO AVE 10            68.0                 1979
656851   557  ANG MO KIO AVE 10            68.0                 1980

        resale_price remaining_lease  town_ANG MO KIO  town_BEDOK  \
656847      255000.0              70             True       False
656848      275000.0              65             True       False
656849      285000.0              64             True       False
656850      290000.0              63             True       False
656851      290000.0              64             True       False

        town_BISHAN  town_BUKIT BATOK  ...  flat_model_Premium Apartment  \
656847        False             False  ...                         False
656848        False             False  ...                         False
656849        False             False  ...                         False
656850        False             False  ...                         False
656851        False             False  ...                         False

        flat_model_Premium Apartment Loft  flat_model_Premium Maisonette  \
656847                              False                          False
656848                              False                          False
656849                              False                          False
656850                              False                          False
656851                              False                          False

        flat_model_Simplified  flat_model_Standard  flat_model_Terrace  \
656847                  False                False               False
656848                  False                False               False
656849                  False                False               False
656850                  False                False               False
656851                  False                False               False

        flat_model_Type S1  flat_model_Type S2  flat_age  year
656847               False               False        38  2015
656848               False               False        43  2015
656849               False               False        44  2015
656850               False               False        45  2015
656851               False               False        44  2015

[5 rows x 79 columns]

# Model Training

In [16]:
df = df.select_dtypes(include=[float, int])
X = df.drop(columns=['resale_price'])
y = df['resale_price']
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)
print("Coefficients:", model.coef_)
print("Intercept:", model.intercept_)

Coefficients: [ 4.04077281e+03 -1.06300807e+14 -1.06300807e+14  1.84481980e+04]
Intercept: 2.1515283281427133e+17

In [18]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = mse ** 0.5
r2 = r2_score(y_test, y_pred)
print(f"Mean Absolute Error (MAE): {mae}")
print(f"Mean Squared Error (MSE): {mse}")
print(f"Root Mean Squared Error (RMSE): {rmse}")
print(f"R² Score: {r2}")

Mean Absolute Error (MAE): 87499.05779687635
Mean Squared Error (MSE): 14198567037.628376
Root Mean Squared Error (RMSE): 119157.7401498886
R² Score: 0.5225369959026274

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)
y_pred_rf = rf_model.predict(X_test)
mae_rf = mean_absolute_error(y_test, y_pred_rf)
mse_rf = mean_squared_error(y_test, y_pred_rf)
rmse_rf = mse_rf ** 0.5
r2_rf = r2_score(y_test, y_pred_rf)
print(f"Random Forest - MAE: {mae_rf}, MSE: {mse_rf}, RMSE: {rmse_rf}, R²: {r2_rf}")

# Limit Grid Search

In [ ]:
param_grid = {
    'n_estimators': [50, 100],
    'max_depth': [None, 10],
    'min_samples_split': [2, 5],
    'min_samples_leaf': [1, 2]
}
grid_search = GridSearchCV(estimator=rf_model, param_grid=param_grid, cv=3, n_jobs=-1, verbose=2)
grid_search.fit(X_train, y_train)
print("Best Parameters:", grid_search.best_params_)
print("Best Score:", grid_search.best_score_)